// styling specific to the #contact section
#contact {
  .social-item {
    padding: 0 0.5rem;
  }

  ul {
    margin-top: $spacer;
  }

  .contact-content {
    padding: $spacer;
  }
}

.btn-resume {
  background-color: $accent-color;
  border-color: $accent-color;

  color: $light-color;

  &:hover {
    background-color: darken($accent-color, 10%);
    color: darken($light-color, 5%);
  }
}
