header {
  position: relative;
  height: 100%;
  width: 100%;
  background: no-repeat center center fixed;
  background-image: linear-gradient(
      to right bottom,
      rgba($dark-color, $opacity),
      rgba($dark-color, $opacity)
    ),
    url(../../assets/images/header-background.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;

  a:link {
    color: $light-color;
  }

  .navbar-brand {
    font-size: $font-size-xl;
    letter-spacing: -0.2rem;
  }

  #FirstName {
    color: $light-color;
  }

  #LastName {
    color: $accent-color;
  }

  #Logo {
    max-height: $logo-height;
  }

  .active-nav {
    a {
      color: $accent-color !important;
    }
  }

  .banner {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    width: 85%;
    padding-bottom: $spacer;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .arrow-icon {
    i {
      color: $header-arrow-icon;
      &:hover {
        color: $accent-color;
      }
    }
  }
}
