section {
  min-height: 100%;
  width: 100%;
  background-size: cover;
  text-align: center;
  position: relative;
  padding: $spacer-sm;

  .container-fluid {
    padding: $spacer-sm;
    margin: $spacer-lg auto;

    .flex-col {
      padding: $spacer;
    }
  }

  .list-group-item {
    background-color: inherit;
  }
}

.filters {
  a {
    padding: $spacer;
  }

  .filter {
    margin: 0 auto;
  }

  .active {
    color: $accent-color;
  }
}
