*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.light-section {
  @include section-color($light-color, $dark-color);
}

.dark-section {
  @include section-color($dark-color, $light-color);
}

.dark-bg {
  background-color: $dark-bg;
}
