$social-size: 1.5rem;

.footer {
  background-color: $dark-color;
  padding: 1rem;
  color: white !important;
  font-size: $font-size-sm;

  a:hover {
    color: $accent-color !important;
  }

  #username {
    color: $accent-color;
  }

  .social-item {
    i {
      font-size: $social-size;
      padding: 0 $spacer;
      color: $light-color;
    }
  }
}
