$social-size: 1.5rem;

.footer {
  background-color: $dark-color;

  .nav-link,
  .copyright {
    color: white !important;
    font-size: $font-size-sm;
  }

  .social-item {
    i {
      font-size: $social-size;
      padding: 0 $spacer;
      color: $light-color;
    }
  }
}
