header {
  position: relative;
  height: 100%;
  width: 100%;
  background: url(../../assets/images/header-background.jpg) no-repeat center
    center fixed;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;

  a:hover {
    color: $accent-color;
  }

  .navbar-dark {
    a {
      color: $light-color !important;
    }
  }

  nav {
    .navbar-brand {
      font-size: $font-size-lg;
    }
    a {
      color: $light-color !important;

      .name {
        color: $accent-color !important;
      }
    }
    .active {
      a {
        color: $accent-color !important;
      }
    }
  }

  .banner {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .banner-text {
      color: $light-color;

      .display-text {
        font-size: $title-size;
      }
      #typewriter {
        font-size: $subtitle-size;
        color: inherit;
        text-transform: none;
      }
    }
  }
}
