@media only screen and (max-width: 900px) {
  header {
    .banner {
      padding-bottom: 12px;
    }
  }
}

@media only screen and (max-width: 767px) {
  header {
    .banner {
      padding-bottom: 12px;
      padding-top: 6px;
    }
  }
}

@media only screen and (max-width: 480px) {
  header {
    .banner {
      padding-top: 24px;
    }
  }
}
