section {
  min-height: 100%;
  width: 100%;
  background-size: cover;
  text-align: center;
  position: relative;
  padding: $spacer;

  .container-fluid {
    padding: 2rem;
    margin: 6rem auto;

    .flex-col {
      padding: 2rem;
    }
  }

  h1 {
    padding-bottom: 2rem;
  }
}

.light-section {
  background-color: $light-color;
  color: $dark-color;
  a {
    color: $accent-color;
  }
}

.dark-section {
  background-color: $dark-color;
  color: $light-color;
}

.grey-section {
  background-color: $grey-color;
  color: $dark-color;
}

#about {
  .profile-pic {
    max-width: 100%;
    max-height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #about-content {
    text-align: justify;
  }
}

#projects {
  .container-fluid {
    margin: 4rem auto;
  }
  .portfolio-container {
    .flex-col {
      padding: 4rem;
    }
  }

  .filters {
    margin: 0;
  }
  .portfolio-item {
    position: relative;
    // padding: 2rem;

    img {
      width: 100%;
      display: block;
    }

    .overlay {
      position: absolute;
      padding: inherit;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #333333;

      .portfolio-item-meta {
        color: $light-color;
        padding: 2rem;

        i {
          margin: 1rem;
        }
      }
    }

    &:hover {
      .overlay {
        opacity: 0.8;
      }
    }
  }

  .list-inline {
    a {
      padding: 2rem;
    }
  }
}
