section {
  min-height: 100%;
  width: 100%;
  background-size: cover;
  text-align: center;
  position: relative;
  padding: 3rem;

  .container-fluid {
    padding: 2rem;
    margin: 6rem auto;

    .flex-col {
      padding: 2rem;
    }
  }

  h1 {
    padding-bottom: 2rem;
  }
}

// how to alternate bg colors for sections?

#about {
  background-color: $bg-color-one;

  .profile-pic {
    max-width: 100%;
    max-height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #about-content {
    text-align: justify;
  }
}

#skills {
  background-color: $bg-color-two;
}

#projects {
  background-color: $light-color;

  .portfolio-item {
    position: relative;

    img {
      width: 100%;
      display: block;
    }

    .overlay {
      position: absolute;
      padding: inherit;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #333333;

      .portfolio-item-meta {
        color: $light-color;
        padding: 2rem;

        i {
          margin: 1rem;
        }
      }
    }

    &:hover {
      .overlay {
        opacity: 0.8;
      }
    }
  }

  .list-inline {
    a {
      padding: 2rem;
    }
  }
}

#contact {
  background-color: $bg-color-one;
}
