$light-color: #f0f0f0;
$grey-color: #747474;
$dark-color: #333333;
$accent-color: #2ecc71;

$dark-bg: #222222;

$font-size-sm: 0.8rem;
$title-size: 90px;
$subtitle-size: 50px;

$spacer: 2rem;

$test-border: 2px solid red;

$profile-pic-height: 300px;
$profile-pic-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);

$heading-font: "Rubik", sans-serif;
$body-font: "Karla", sans-serif;
