header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  /* background: #161415 url(../images/header-background.jpg) no-repeat top center; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../../assets/images/header-background.jpg);
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}
